<div class="container-about">
	<div class="container">
		<div class="page-header" id="about">
        </div>
		<div class="row">
			<div class="col-md-3">
				<img src="../../../assets/images/image3.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">BEFORE DEVELOPMENT</h4>
				<br>
        <p class="text-justify">I have an extremely varied work experience history before my professional career. I took mostly temp jobs for 7 years in my search for finding my passion, which meant I got to work on building sites, warehouses, shops, offices and factories. </p>
      </div>
			<div class="col-md-6">
            <img src="../../../assets/images/image1.jpg" class="img-responsive" style="margin-bottom: 15px;">
			</div>
      <div class="col-md-3">
				<img src="../../../assets/images/image2.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">INTERESTS</h4>
				<br>
        <p class="text-justify">I am a family man with 2 amazing children, and when I'm not coding I am either taking them on random adventures, writing music, reading or binge watching the latest TV show on Netflix. I love my career, but family will always come first to me.</p>
			</div>
		</div>
		<div class="row" style="padding-top: 30px;">
			<div class="col-md-3">
				<img src="../../../assets/images/image4.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">ANGULAR CHAMPION</h4>
				<br>
				<p class="text-justify">At Optimum Credit I am lead developer and champion of the modernization project. I performed the initial research into new frameworks (React, Vue. Aurelia etc.) and finally settled on Angular. My team of 7 have successfully delivered a cutting edge system.</p>
			</div>
			<div class="col-md-3">
				<img src="../../../assets/images/image7.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">.NET CHAMPION</h4>
				<br>
				<p class="text-justify">As well as rewriting the front end in Angular for Optimum Credit, my team have also rewritten much of the back end. Converting the old WCF services into WebApi 2.0 projects, introducing .NetCore and finally SignalR for live updates.</p>
			</div>
			<div class="col-md-3">
				<img src="../../../assets/images/image5.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">CAREER ASPIRATIONS</h4>
				<br>
				<p class="text-justify">I love that IT forces us to continually learn and push the boundaries, and at some point I would like to move into management. But for the moment I am happy doing what I'm doing, and my current aspiration is to just be a great developer!</p>
			</div>
			<div class="col-md-3">
				<img src="../../../assets/images/image6.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">LIFE STYLE</h4>
				<br>
				<p class="text-justify">Having worked with individuals from all walks of life I believe I am very personable. I'm very easy going and have been through enough stressful situations to know when not to sweat the small things. I genuinely thrive under pressure! </p>
			</div>
		</div>
	</div>
</div>
