<div class="container-about">
	<div class="container">
		<div class="page-header" id="about">
        </div>
		<div class="row">
			<div class="col-md-3">
				<img src="../../../assets/images/image2.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">FROM THE BLOG</h4>
				<br>
				<p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
			<div class="col-md-6">
				<img src="../../../assets/images/image1.jpg" class="img-responsive" style="margin-bottom: 15px;">
			</div>
			<div class="col-md-3">
				<img src="../../../assets/images/image3.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">MUSIC IN MY LIFE</h4>
				<br>
				<p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
		</div>
		<div class="row" style="padding-top: 30px;">
			<div class="col-md-3">
				<img src="../../../assets/images/image4.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">FROM THE BLOG</h4>
				<br>
				<p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
			<div class="col-md-3">
				<img src="../../../assets/images/image7.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">TRAVEL</h4>
				<br>
				<p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
			<div class="col-md-3">
				<img src="../../../assets/images/image5.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">MY WORK</h4>
				<br>
				<p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
			<div class="col-md-3">
				<img src="../../../assets/images/image6.jpg" class="img-responsive">
				<h4 style="color: #fff; background-color: #1E1F23; padding: 5px;">LIFE STYLE</h4>
				<br>
				<p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
		</div>
	</div>
</div>
