<div class="row margin-above black-strip">
  <div class="col-12 ">
    <div class="col-md-2 instructions">
      <b><u>Instructions:</u></b>
      <br><br>

      Navigate to the end of the map using your keyboard...<br>
      A to move left
      <br>
      D to move right
      <br>
      SPACE to jump
      <br>
    </div>
    <div class="col-md-8" >
      <canvas #graphicsCanvas width={{canvasWidth}} height={{canvasHeight}}></canvas>
    </div>
    <div class="col-md-2 instructions">
        <b><u>More text</u></b>
      </div>
  </div>
</div>
