<div class="container-skills">
	<div class="container">
		<div class="page-header" id="skills">
			<h1 style="padding-top: 20px;">My Skills</h1>
        </div>
		<div class="row">
			<div class="col-md-6">
				<h3>Full stack developer</h3>
				<p class="text-justify">I consider myself a full stack .Net/Javascript developer. My strengths lay with the .Net Framework/.NetCore and Angular however I have experience and am adept with a plethora of other technologies which I have picked up from both home projects (I like to experiment!) and work research projects. </p>
				<br>
				<h3>Soft skills</h3>
				<p class="text-justify">As a developer your ability to code is paramount, however,
            I believe having soft skills can over rank tech skills in some areas.
            I have met a few 'Rockstars' in my career and while they can churn out impressive quantities of code,
            their ability to work as part of a larger team actually makes them 'negative coders'.
            However great they are, generally a single person cannot do everything.</p>

        <p class="text-justify">I like to think that I am very easy going and down to earth.
            I enjoy taking the initiative, steering or being part of a team, knowledge sharing, coaching and being challenged on design and technical decisions.
            I've had enough bad jobs to know that development is a great career, and however stressful this may get, it pales in comparison to some of the factories
            I have worked in :)</p>
				<br>
			</div>
			<div class="col-xs-offset-1 col-md-5">
          <div class="col-md-6">
              <h2>Frontend</h2>
              <br>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Angular 7</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Aurelia</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Vue.js</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;ASP.Net</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Javascript</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Typescript</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;jQuery</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Jasmine</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Protractor</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Webpack</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Gulp</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;HTML 5 Canvas</p>
              <br>
          </div>
          <div class="col-md-6">
              <h2>Backend</h2>
              <br>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;C#</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;.Net Framework</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;.Net Core</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Node.js</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;WCF</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;WebApi 2.0</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;SignalR</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;SQL Server</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;No SQL</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Entity Framework</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Azure</p>
              <p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Git/VSTS</p>
            </div>
			</div>
		</div>
	</div>
</div>
