<div class="container-skills">
	<div class="container">
		<div class="page-header" id="skills">
			<h1 style="padding-top: 20px;">My Skills</h1>
        </div>
		<div class="row">
			<div class="col-md-6">
				<h3>Full stack developer</h3>
				<p class="text-justify">I consider myself a full stack .Net/Javascript developer. My strengths lay with the .Net Framework, .NetCore and Angular however I have experience and am adept with Vue.js, T-Sql, MongoDB, Webforms, jQuery, Node.js, Git, VSTS, SignalR and Azure Devops. </p>
				<br>
				<h3>Soft skills</h3>
				<p class="text-justify">As a developer your ability to code is paramount, however, I believe having soft skills can over rank tech skills in some areas. I have met a few 'Rockstars' in my career and while they can churn out impressive code their ability to work in an organization can be negative, a single person cannot do everything.</p>
        <p class="text-justify">I like to think that I am very easy going and down to earth. I enjoy taking the initiative, steering or being part of a team, knowledge sharing, coaching and being challenged on design choices.</p>
				<br>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>
</div>
