<div class="container-blog">
	<div class="container">
		<div class="page-header" id="blog">
			<h1 style="padding-top: 20px;">Blog</h1>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>Categories</h2>
				<br>
				<p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;What is Lorem Ipsum?</p>
				<p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Where does it come from?</p>
				<p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Where can I get some?</p>
				<p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Why do we use it?</p>
				<br>
				<h2>Archives</h2>
				<br>
				<p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;December 2016</p>
				<p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;January 2017</p>
				<p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;Fevruary 2017</p>
				<p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;March 2017</p>
				<p><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp; &nbsp;April 2017</p>
			</div>
			<div class="col-md-8">
				<div>
					<div class="row">
						<div class="col-xs-12">
							<h3>Marketing Article</h3>
							<p class="text-justify">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
			Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
			dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
			Aliquam in felis sit amet augue.
							</p>
							<button class="btn btn-default" type="button" style="background-color: #4B4B4B; color: #fff; margin-bottom: 15px; ">MORE</button>
							<div class="text-center">
								<a href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;Full Story</a>&nbsp; &nbsp; &nbsp;
								<a href="#"><span class="glyphicon glyphicon-comment"></span>&nbsp;12 Comments</a>&nbsp; &nbsp; &nbsp;
								<a href="#"><span class="glyphicon glyphicon-share"></span>&nbsp;11 Shares</a>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-12">
							<h3>Sales Article</h3>
							<p class="text-justify">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
			Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
			dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
			Aliquam in felis sit amet augue.
							</p>
							<button class="btn btn-default" type="button" style="background-color: #4B4B4B; color: #fff; margin-bottom: 15px;">MORE</button>
							<div class="text-center">
								<a href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;Full Story</a>&nbsp; &nbsp; &nbsp;
								<a href="#"><span class="glyphicon glyphicon-comment"></span>&nbsp;2 Comments</a>&nbsp; &nbsp; &nbsp;
								<a href="#"><span class="glyphicon glyphicon-share"></span>&nbsp;211 Shares</a>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-12">
							<h3>Finance Article</h3>
							<p class="text-justify">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
			Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
			dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
			Aliquam in felis sit amet augue.
							</p>
							<button class="btn btn-default" type="button" style="background-color: #4B4B4B; color: #fff; margin-bottom: 15px;">MORE</button>
							<div class="text-center">
								<a href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;Full Story</a>&nbsp; &nbsp; &nbsp;
								<a href="#"><span class="glyphicon glyphicon-comment"></span>&nbsp;7 Comments</a>&nbsp; &nbsp; &nbsp;
								<a href="#"><span class="glyphicon glyphicon-share"></span>&nbsp;67 Shares</a>
							</div>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
